* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 450px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.register-container {
  width: 100%;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

.register-ask-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.error-message {
  color: red;
}


@media (max-width: 400px) {
  .login-container, .register-container {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .login-container form input,
  .register-form input {
    margin-bottom: 10px;
  }

  .login-container form button,
  .register-form button {
    padding: 8px 16px;
  }
}